In [3]:
import pandas as pd
df= pd.read_csv("pokemon_data.csv")
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [4]:
print(df.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [10]:
names = df['Name'].tolist()
types = df['Type 1'].tolist()
hp = df['HP'].tolist()
attack = df['Attack'].tolist()
print(names[:5])

['Bulbasaur', 'Ivysaur', 'Venusaur', 'VenusaurMega Venusaur', 'Charmander']

All Water-type Pokémon

In [11]:
water_pokemon = df[df['Type 1'] == 'Water']['Name'].tolist()
print("Water Pokémon:", water_pokemon[:10])

Water Pokémon: ['Squirtle', 'Wartortle', 'Blastoise', 'BlastoiseMega Blastoise', 'Psyduck', 'Golduck', 'Poliwag', 'Poliwhirl', 'Poliwrath', 'Tentacool']

Pokémon with HP above 100

In [12]:
high_hp_pokemon = df[df['HP'] > 100]['Name'].tolist()
print("High HP Pokémon:", high_hp_pokemon)

High HP Pokémon: ['Jigglypuff', 'Wigglytuff', 'Muk', 'Rhydon', 'Chansey', 'Kangaskhan', 'KangaskhanMega Kangaskhan', 'Lapras', 'Vaporeon', 'Snorlax', 'Mewtwo', 'MewtwoMega Mewtwo X', 'MewtwoMega Mewtwo Y', 'Lanturn', 'Wobbuffet', 'Blissey', 'Entei', 'Lugia', 'Ho-oh', 'Slaking', 'Exploud', 'Hariyama', 'Wailmer', 'Wailord', 'Whiscash', 'Walrein', 'Rayquaza', 'RayquazaMega Rayquaza', 'Gastrodon', 'Drifblim', 'Skuntank', 'Garchomp', 'GarchompMega Garchomp', 'Munchlax', 'Hippowdon', 'Lickilicky', 'Rhyperior', 'Mamoswine', 'Regigigas', 'GiratinaAltered Forme', 'GiratinaOrigin Forme', 'Cresselia', 'Arceus', 'Emboar', 'Musharna', 'Excadrill', 'Audino', 'AudinoMega Audino', 'Conkeldurr', 'Seismitoad', 'Throh', 'DarmanitanStandard Mode', 'DarmanitanZen Mode', 'Reuniclus', 'Amoonguss', 'Alomomola', 'Stunfisk', 'Mandibuzz', 'Kyurem', 'KyuremBlack Kyurem', 'KyuremWhite Kyurem', 'Gogoat', 'Aromatisse', 'Aurorus', 'Xerneas', 'Yveltal', 'Zygarde50% Forme']

Water-type Pokémon with Attack > 80

In [13]:
strong_water_pokemon = df[(df['Type 1'] == 'Water') & (df['Attack'] > 80)]['Name'].tolist()
print("Strong Water Pokémon:", strong_water_pokemon)

Strong Water Pokémon: ['Blastoise', 'BlastoiseMega Blastoise', 'Golduck', 'Poliwrath', 'Cloyster', 'Krabby', 'Kingler', 'Seaking', 'Gyarados', 'GyaradosMega Gyarados', 'Lapras', 'Feraligatr', 'Quagsire', 'Qwilfish', 'Octillery', 'Kingdra', 'Marshtomp', 'Swampert', 'SwampertMega Swampert', 'Carvanha', 'Sharpedo', 'SharpedoMega Sharpedo', 'Wailord', 'Crawdaunt', 'Huntail', 'Gorebyss', 'Relicanth', 'Kyogre', 'KyogrePrimal Kyogre', 'Empoleon', 'Floatzel', 'Gastrodon', 'Palkia', 'Manaphy', 'Samurott', 'Simipour', 'Seismitoad', 'Basculin', 'Carracosta', 'Swanna', 'Greninja']

Strongest Pokémon by Attack

In [14]:
max_attack = df['Attack'].max()
strongest_pokemon = df[df['Attack'] == max_attack]['Name'].values[0]
print("Strongest Pokémon by Attack:", strongest_pokemon)

Strongest Pokémon by Attack: MewtwoMega Mewtwo X

Type that appears most

In [15]:
most_common_type = df['Type 1'].mode()[0]
print("Most Common Type 1:", most_common_type)

Most Common Type 1: Water

Unique Types

In [16]:
unique_types = set(types)
print("Unique Pokémon Types:", unique_types)

Unique Pokémon Types: {'Ghost', 'Fire', 'Fighting', 'Ice', 'Bug', 'Ground', 'Fairy', 'Rock', 'Electric', 'Psychic', 'Steel', 'Normal', 'Dragon', 'Grass', 'Flying', 'Water', 'Poison', 'Dark'}

##Weakest Pokémon by HP

In [17]:
weakest = df[df['HP'] == df['HP'].min()]['Name'].values[0]
print("Weakest Pokémon by HP:", weakest)

Weakest Pokémon by HP: Shedinja

% of Fire-type Pokémon

In [18]:
fire_pct = (df['Type 1'] == 'Fire').mean() * 100
print(f"Fire-type Pokémon: {fire_pct:.2f}%")

Fire-type Pokémon: 6.50%